body {
  background-color: #16181d;
}

.bg-banner {
  background-image: url("../public/img/banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contact {
  background-image: url("../public/img/banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40rem !important;
  display: flex !important;
}

.contact a {
  background-color: #292c34;
  color: #fff;
}

.project {
  background-color: #292c34;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  background-color: #292c3477;
  color: #fff;
}

@media (max-width: 1280px) {
  .project {
    flex-direction: column !important;
  }
}

@media (max-width: 1000px) {
  .info {
    width: 100%;
  }

  .info h1 {
    font-size: 2rem;
  }
}

@media (max-width: 800px) {
  .project {
    width: 100%;
  }

  .project-flex {
    grid-template-columns: 1fr !important;
  }

  .project img {
    width: 100% !important;
    object-fit: cover;
  }
}

@media (max-width: 700px) {
  .container div:nth-child(2) {
    width: 100%;
  }
}
