body{
  background-color: #16181D;
}

.bg-banner{
  background-image: url('../public/img/banner.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contact{
  background-image: url('../public/img/banner.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;  
  height: 40rem !important;
  display: flex !important;
}

@media (max-width: 1250px) {
  .project-flex{
    flex-direction: column;
  }
}

@media (max-width: 1000px) {
  .info {
    width: 100%;
  }

  .info h1{
    font-size: 2rem;
  }
}

@media (max-width: 800px) {
  .project{
    flex-direction: column;
    width: 100%;
  }

  .project img{
    height: 200px 
    !important;
    width: 100% !important;
    object-fit: cover;
  }
}
